# Your Title Here

**Name(s)**: (your name(s) here)

**Website Link**: (your website link)

In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

import plotly.express as px
pd.options.plotting.backend = 'plotly'

# from dsc80_utils import * # Feel free to uncomment and use this.

## Step 1: Introduction

In [83]:
# TODO
df = pd.read_csv('2023_LoL_esports_match_data_from_OraclesElixir.csv')
# df = df[df['datacompleteness'] == 'complete']
new_df = df[['teamname','side','gameid','firsttothreetowers','result','league', 'date','team kpm']].sort_values('firsttothreetowers')
team_df = new_df[df['playername'].isna()]
team_df.isna().sort_values('team kpm')
# team_df[team_df['teamname'] == 'APOLLO GAMING']

c:\Users\Zachary\miniforge3\envs\dsc80\lib\site-packages\IPython\core\interactiveshell.py:3508: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\Zachary\AppData\Local\Temp\ipykernel_6920\2818753488.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  team_df = new_df[df['playername'].isna()]

,teamname,side,gameid,firsttothreetowers,result,league,date,team kpm
107626,False,False,False,False,False,False,False,False
16486,False,False,False,False,False,False,False,False
16474,False,False,False,False,False,False,False,False
16463,False,False,False,False,False,False,False,False
16438,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
8099,False,False,False,False,False,False,False,False
121595,False,False,False,False,False,False,False,False
8086,False,False,False,False,False,False,False,False
121607,False,False,False,False,False,False,False,False
125903,False,False,False,True,False,False,False,False

In [53]:
for i in df.columns:
    print(i)

gameid
datacompleteness
url
league
year
split
playoffs
date
game
patch
participantid
side
position
playername
playerid
teamname
teamid
champion
ban1
ban2
ban3
ban4
ban5
pick1
pick2
pick3
pick4
pick5
gamelength
result
kills
deaths
assists
teamkills
teamdeaths
doublekills
triplekills
quadrakills
pentakills
firstblood
firstbloodkill
firstbloodassist
firstbloodvictim
team kpm
ckpm
firstdragon
dragons
opp_dragons
elementaldrakes
opp_elementaldrakes
infernals
mountains
clouds
oceans
chemtechs
hextechs
dragons (type unknown)
elders
opp_elders
firstherald
heralds
opp_heralds
void_grubs
opp_void_grubs
firstbaron
barons
opp_barons
firsttower
towers
opp_towers
firstmidtower
firsttothreetowers
turretplates
opp_turretplates
inhibitors
opp_inhibitors
damagetochampions
dpm
damageshare
damagetakenperminute
damagemitigatedperminute
wardsplaced
wpm
wardskilled
wcpm
controlwardsbought
visionscore
vspm
totalgold
earnedgold
earned gpm
earnedgoldshare
goldspent
gspd
gpr
total cs
minionkills
monsterkills
monsterkillsownjungle
monsterkillsenemyjungle
cspm
goldat10
xpat10
csat10
opp_goldat10
opp_xpat10
opp_csat10
golddiffat10
xpdiffat10
csdiffat10
killsat10
assistsat10
deathsat10
opp_killsat10
opp_assistsat10
opp_deathsat10
goldat15
xpat15
csat15
opp_goldat15
opp_xpat15
opp_csat15
golddiffat15
xpdiffat15
csdiffat15
killsat15
assistsat15
deathsat15
opp_killsat15
opp_assistsat15
opp_deathsat15

## Step 2: Data Cleaning and Exploratory Data Analysis

In [93]:
# TODO
custom_legend_names = {1: 'Wins with firsttothree', 0: 'Losses with firsttothree'}
fig = px.pie(team_df, values='firsttothreetowers',names='result', title = 'Winrate First to Three Turrets')
fig.update_layout(legend_title = 'Legend')
fig.for_each_trace(lambda t: t.update(name=custom_legend_names[t.name]))
fig.show()

KeyError: ''

## Step 3: Assessment of Missingness

In [ ]:
# TODO

## Step 4: Hypothesis Testing

In [ ]:
# TODO

## Step 5: Framing a Prediction Problem

In [ ]:
# TODO

## Step 6: Baseline Model

In [ ]:
# TODO

## Step 7: Final Model

In [ ]:
# TODO

## Step 8: Fairness Analysis

In [ ]:
# TODO